{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue sur l'API AUBERGE</h1>
    <a href="/doc">lien vers la documentation</a>
{% endblock %}
